body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_object_name,#result_object_accuracy 
{
  color: black;
}

.heading{
  font-size:18px;
  border-radius:10px;
  letter-spacing:10px;
}
.heading_div{
  font-size:14px;
  color:green;
  padding:6px;
  border-radius:10px;
  background-color:white;
}